
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Inter", sans-serif;
}


.comp-section {
  padding: 90px 0;
  text-align: center;
  background: #ffffff;
}


.comp-title {
  font-size: 42px;
  font-weight: 800;
  max-width: 780px;
  margin: 0 auto 12px;
  color: #1a1a1a;
}

.comp-sub {
  color: #555;
  font-size: 18px;
  margin-bottom: 45px;
}


.comp-table {
  width: calc(100% - 110px);  
  max-width: 900px;
  margin: 0 auto;
  border-radius: 22px;
  background: linear-gradient(to bottom, #faf4ff, #f4ecff, #f6f1ff);
  box-shadow: 0 8px 35px rgba(0, 0, 0, 0.06);
  overflow: hidden;
}


.comp-row {
  display: grid;
  grid-template-columns: 1fr 180px 1fr;
  padding: 15px 35px;
  align-items: center;
}

/* HEAD ROW */
.comp-head {
  background: #f0e5ff;
  font-weight: 700;
}

.head-title {
  font-size: 18px;
  color: #1a1a1a;
  text-align: left;
}

.comp-head .head-title:last-child {
  text-align: center;
}


.brand-col {
  text-align: center;
}

.brand-logo {
  height: 40px;
  object-fit: contain;
}


.feat {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #1a1a1a;
}


.tick-col,
.cross-col {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 18px;
  font-weight: 700;
}

.tick-col {
  background: #ffffff;
  color: #00c853;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

/* ✕ RED CROSS  */
.cross-col {
  background: #ffe7eb;
  color: #e63946;
}


.comp-row:not(.comp-head) {
  border-bottom: none;
}



/* TABLET */
@media (max-width: 900px) {
  .comp-table {
    width: 94%;
  }

  .comp-row {
    grid-template-columns: 1fr 140px 1fr;
    padding: 14px 22px;
  }

  .brand-logo {
    height: 34px;
  }

  .tick-col,
  .cross-col {
    width: 32px;
    height: 32px;
  }

  .feat {
    font-size: 15px;
  }
}

/* PHONE LANDSCAPE */
@media (max-width: 700px) {

  .comp-row {
    grid-template-columns: 1fr 90px 1fr;
    padding: 12px 16px;
  }

  .comp-title {
    font-size: 32px;
  }

  .feat {
    font-size: 14px;
  }
}

/* MOBILE */
@media (max-width: 500px) {

  .comp-title {
    font-size: 28px;
    max-width: 330px;
  }

  .comp-row {
    grid-template-columns: 1fr 70px 1fr;
    padding: 10px 12px;
  }

  .brand-logo {
    height: 30px;
  }

  .tick-col,
  .cross-col {
    width: 28px;
    height: 28px;
    font-size: 15px;
  }
}

/* VERY SMALL PHONES */
@media (max-width: 380px) {
  .comp-row {
    grid-template-columns: 1fr 55px 1fr;
  }

  .comp-title {
    font-size: 24px;
  }
}
